.qa {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F6F6F6;
    &__row {
        display: flex;
        flex-direction: column;
    }
    &__list {
        padding-top: 34px;
        padding-bottom: 34px;
        display: flex;
    }
    &__block {
        cursor: pointer;
        padding: 20px 20px 36px 20px;
        display: flex;
        justify-content: space-between;
        width: 224px;
        height: 154px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        img {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }
        width: 184px;
        height: 48px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #101010;
        text-align: start;
    }
    &__sup {
        display: flex;
        justify-content: space-between;
        height: 29px;
        align-items: center;
    }
    &__heading {
        width: 259px;
        height: 29px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #101010;
    }
    &__btn {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        height: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #101010;
        cursor: pointer;
        width: 107px;
        img {
            margin-right: 10px;
        }
    }
}