.about-us {
    position: relative;
    &__row {
        padding-top: 163px;
        padding-bottom: 162px;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
    }
    &__heading {
        font-weight: 700;
        font-size: 32px;
        line-height: 27px;
        color: #101010;
        margin-bottom: 30px;
    }
    &__text {
        width: 672px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #101010;
        i {
            color: #FF5840;
        }
    }
    &__bg {
        @extend .home__bg;  
    }
}